---
import EstateCard from './EstateCard.astro'
// const response = await fetch('../assets/data.jon')
// const data = await response.json()
// console.log(data)

const data = [
	{
		id: 1919978,
		ownerID: 1060127,
		userExternalID: '1060127',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.087900161743,
			lng: 55.147399902344
		},
		geography: {
			lat: 25.087900161743,
			lng: 55.147399902344
		},
		purpose: 'for-rent',
		price: 17900.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: 'DP-R-39004',
		permitNumber: 'DUB-TOR-PFJUS',
		projectNumber: null,
		title: 'Huge 2 Beds Torch Dubai Marina',
		title_l1: 'شقة في برج الشعلة دبي مارينا 2 غرف 17900 درهم - 4711761',
		title_l2: 'Huge 2 Beds Torch Dubai Marina',
		externalID: '4711761',
		slug: 'huge-2-beds-torch-dubai-marina-4711761',
		slug_l1: 'huge-2-beds-torch-dubai-marina-4711761',
		slug_l2: 'huge-2-beds-torch-dubai-marina-4711761',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 36,
				level: 2,
				externalID: '5003',
				name: 'Dubai Marina',
				name_l1: 'دبي مارينا',
				name_l2: 'Dubai Marina',
				slug: '/dubai/dubai-marina',
				slug_l1: '/dubai/dubai-marina',
				slug_l2: '/dubai/dubai-marina',
				type: 'neighbourhood'
			},
			{
				id: 571,
				level: 3,
				externalID: '5071',
				name: 'The Torch',
				name_l1: 'برج الشعلة',
				name_l2: 'The Torch',
				slug: '/dubai/dubai-marina/the-torch',
				slug_l1: '/dubai/dubai-marina/the-torch',
				slug_l2: '/dubai/dubai-marina/the-torch',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1596457412.0,
		updatedAt: 1672993645.0,
		reactivatedAt: 1642597010.842017,
		rooms: 2,
		baths: 2,
		area: 116.87202432,
		score: 100,
		score_l1: 65,
		score_l2: 75,
		coverPhoto: {
			id: 170360327,
			externalID: '109219984',
			title: null,
			orderIndex: 0,
			nimaScore: 9.974102638292049,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/170360327/ee3d09c5a10a4019968b726cb294eec2',
			main: true
		},
		photoCount: 23,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971509643016',
			phone: '+97145587789',
			whatsapp: '971509643016',
			proxyMobile: '+971525014205',
			phoneNumbers: ['+97145587789'],
			mobileNumbers: ['+971509643016']
		},
		contactName: 'Driven Holiday Homes',
		agency: {
			id: 326,
			objectID: 326,
			name: 'Driven Holiday Homes',
			name_l1: 'درفن لبيوت العطلات',
			name_l2: 'Driven Holiday Homes',
			externalID: '6756',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '730186',
					authority: 'DED'
				}
			],
			logo: {
				id: 123148392,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/123148392/db88eef678134cf09a2586918ef5ad08'
			},
			slug: 'driven-holiday-homes-6756',
			slug_l1: 'driven-holiday-homes-6756',
			slug_l2: 'driven-holiday-homes-6756',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2017-12-14T16:29:11.991788+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: 'ffe33c8',
		keywords: [
			'مطبخ',
			'kitchen',
			'guest',
			'دور',
			'مؤثثة',
			'مفروشة',
			'furnished',
			'balcony',
			'parking',
			'مفروش',
			'موقف سيارة',
			'بلكونة',
			'مجلس',
			'floor'
		],
		isVerified: true,
		verification: {
			updatedAt: 1613986264.555754,
			eligible: true,
			status: 'verified',
			verifiedAt: 1670826192.896298
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 834,
		randBoostScore_l1: 834,
		randBoostScore_l2: 509,
		floorPlanID: 32970,
		furnishingStatus: null,
		extraFields: {},
		type: 'property',
		ownerAgent: {
			externalID: '1060127',
			name: 'Driven Holiday Homes',
			name_l1: 'Driven Holiday Homes',
			name_l2: 'Driven Holiday Homes',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 834,
		indyScore_l1: 834,
		indyScore_l2: 509,
		hasMatchingFloorPlans: true,
		photoIDs: [
			170360327, 170360320, 170360330, 170360334, 170360336, 170360389, 170360366, 170360363,
			170360375, 170360352, 170360355, 170360361, 170360346, 170360367, 170360364, 170360338,
			170360341, 170360343, 170360358, 170360365, 170360349, 170360383, 170360370
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '1919978',
		_highlightResult: {
			referenceNumber: {
				value: 'DP-R-39004',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Huge 2 Beds Torch Dubai Marina',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '4711761',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'Driven Holiday Homes',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'مطبخ',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'kitchen',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'guest',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'دور',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'parking',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'موقف سيارة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مجلس',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'floor',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 2775934,
		ownerID: 713291,
		userExternalID: '713291',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.050708,
			lng: 55.213872
		},
		geography: {
			lat: 25.050708,
			lng: 55.213872
		},
		purpose: 'for-rent',
		price: 8400.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: '128',
		permitNumber: 'JUMPANZTTHH',
		projectNumber: null,
		title: 'Amazingly Spacious 1 Bedroom with Two Queen Beds| Sofa Bed | Bills covered',
		title_l1: 'غرفة نوم واحدة فسيحة بشكل مذهل مع سريرين كوين | سرير أريكة | فواتير مغطاة',
		title_l2: 'Amazingly Spacious 1 Bedroom with Two Queen Beds| Sofa Bed | Bills covered',
		externalID: '5513674',
		slug: 'amazingly-spacious-1-bedroom-with-two-queen-beds-sofa-bed-bills-covered-5513674',
		slug_l1: 'amazingly-spacious-1-bedroom-with-two-queen-beds-sofa-bed-bills-covered-5513674',
		slug_l2: 'amazingly-spacious-1-bedroom-with-two-queen-beds-sofa-bed-bills-covered-5513674',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 59,
				level: 2,
				externalID: '5416',
				name: 'Jumeirah Village Circle (JVC)',
				name_l1: 'قرية جميرا الدائرية',
				name_l2: 'Jumeirah Village Circle (JVC)',
				slug: '/dubai/jumeirah-village-circle-jvc',
				slug_l1: '/dubai/jumeirah-village-circle-jvc',
				slug_l2: '/dubai/jumeirah-village-circle-jvc',
				type: 'neighbourhood'
			},
			{
				id: 1935,
				level: 3,
				externalID: '11385',
				name: 'JVC District 13',
				name_l1: 'الضاحية 13',
				name_l2: 'JVC District 13',
				slug: '/dubai/jumeirah-village-circle-jvc/jvc-district-13',
				slug_l1: '/dubai/jumeirah-village-circle-jvc/jvc-district-13',
				slug_l2: '/dubai/jumeirah-village-circle-jvc/jvc-district-13',
				type: 'neighbourhood'
			},
			{
				id: 1967,
				level: 4,
				externalID: '11298',
				name: 'Pantheon Boulevard',
				name_l1: 'بانثيون بوليفارد',
				name_l2: 'Pantheon Boulevard',
				slug: '/dubai/jumeirah-village-circle-jvc/jvc-district-13/pantheon-boulevard',
				slug_l1: '/dubai/jumeirah-village-circle-jvc/jvc-district-13/pantheon-boulevard',
				slug_l2: '/dubai/jumeirah-village-circle-jvc/jvc-district-13/pantheon-boulevard',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1636546559.0,
		updatedAt: 1672990736.0,
		reactivatedAt: 1672823281.881938,
		rooms: 1,
		baths: 2,
		area: 92.81013696000001,
		score: 100,
		score_l1: 100,
		score_l2: 75,
		coverPhoto: {
			id: 254286622,
			externalID: '126828527',
			title: null,
			orderIndex: 0,
			nimaScore: 9.481770592227576,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/254286622/a3bc0176b8db4a0b936ce22b57dac95a',
			main: true
		},
		coverVideo: {
			externalID: 389469,
			title: 'Pantheon Boulevard',
			host: 'youtube',
			url: 'https://www.youtube.com/watch?v=qDLB8b40vfw',
			orderIndex: 0
		},
		photoCount: 16,
		videoCount: 1,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971521838437',
			phone: '+97142779821',
			whatsapp: '971545695868',
			proxyMobile: '+971521303874',
			proxyPhone: '+97144298820',
			phoneNumbers: ['+97142779821'],
			mobileNumbers: ['+971521838437']
		},
		contactName: 'Rami Mrassi',
		agency: {
			id: 29589916,
			objectID: 29589916,
			name: 'B L V D Holiday Homes Rental L. L. C',
			name_l1: 'بي ال في دي هوليداي هومز رينتال ذ',
			name_l2: 'B L V D Holiday Homes Rental L. L. C',
			externalID: '10204',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '906876',
					authority: 'DED'
				}
			],
			logo: {
				id: 99895298,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/99895298/9fc421847605425f9f3227a49d9db7f9'
			},
			slug: 'b-l-v-d-holiday-homes-rental-llc-10204',
			slug_l1: 'b-l-v-d-holiday-homes-rental-llc-10204',
			slug_l2: 'b-l-v-d-holiday-homes-rental-llc-10204',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2021-01-03T05:56:44.120343+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: 'bbf41e3',
		keywords: [
			'affordable',
			'mall',
			'نظيف',
			'spacious',
			'واسعة',
			'guest',
			'مول',
			'حديثة',
			'مودرن',
			'سعر جيد',
			'مجلس',
			'غرفة واحدة',
			'كبيرة',
			'clean',
			'modern',
			'1 bedroom'
		],
		isVerified: true,
		verification: {
			updatedAt: 1645869397.535878,
			eligible: true,
			status: 'verified',
			verifiedAt: 1672990735.957927
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 807,
		randBoostScore_l1: 807,
		randBoostScore_l2: 496,
		floorPlanID: 11793,
		furnishingStatus: 'furnished',
		extraFields: {
			dldBuildingNK: 'tabu-104544945',
			dldPropertySK: 'dld|mea|ae|tabu-104551025'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '713291',
			name: 'Rami Mrassi',
			name_l1: 'Rami Mrassi',
			name_l2: 'Rami Mrassi',
			user_image:
				'https://bayut-production.s3.eu-central-1.amazonaws.com/image/234460420/5802969b044d4d7d9c09de1e5f625ae4',
			user_image_id: 234460420,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 807,
		indyScore_l1: 807,
		indyScore_l2: 496,
		hasMatchingFloorPlans: true,
		photoIDs: [
			254286622, 265044126, 249671957, 254270769, 269818212, 269818213, 267407878, 249671962,
			254302120, 249671964, 249671965, 254294814, 278008788, 254270776, 249671969, 254270777
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '2775934',
		_highlightResult: {
			referenceNumber: {
				value: '128',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Amazingly Spacious 1 Bedroom with Two Queen Beds| Sofa Bed | Bills covered',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '5513674',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'B L V D Holiday Homes Rental L. L. C',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'affordable',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'نظيف',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'spacious',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'واسعة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'guest',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'حديثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مودرن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'سعر جيد',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مجلس',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'غرفة واحدة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'كبيرة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'clean',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'modern',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '1 bedroom',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 3506054,
		ownerID: 1852807,
		userExternalID: '1852807',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.017434567817,
			lng: 55.252635416366
		},
		geography: {
			lat: 25.017434567817,
			lng: 55.252635416366
		},
		purpose: 'for-rent',
		price: 6995.0,
		product: 'superhot',
		productLabel: 'default',
		productScore: 0,
		rentFrequency: 'monthly',
		referenceNumber: '3905-Ap-R-0017',
		permitNumber: 'AL -LOR-YEDGD',
		projectNumber: null,
		title: 'Golf View | Standard Living | Golf Veduta A',
		title_l1: 'شقة في غولف فيدوتا A غولف فيدوتا غولف تاون داماك هيلز 6995 درهم - 6209602',
		title_l2: 'Golf View | Standard Living | Golf Veduta A',
		externalID: '6209602',
		slug: 'golf-view-standard-living-golf-veduta-a-6209602',
		slug_l1: 'golf-view-standard-living-golf-veduta-a-6209602',
		slug_l2: 'golf-view-standard-living-golf-veduta-a-6209602',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 279,
				level: 2,
				externalID: '9026',
				name: 'DAMAC Hills',
				name_l1: 'داماك هيلز',
				name_l2: 'DAMAC Hills',
				slug: '/dubai/damac-hills',
				slug_l1: '/dubai/damac-hills',
				slug_l2: '/dubai/damac-hills',
				type: 'neighbourhood'
			},
			{
				id: 16353,
				level: 3,
				externalID: '12480',
				name: 'Golf Town',
				name_l1: 'غولف تاون',
				name_l2: 'Golf Town',
				slug: '/dubai/damac-hills/golf-town',
				slug_l1: '/dubai/damac-hills/golf-town',
				slug_l2: '/dubai/damac-hills/golf-town'
			},
			{
				id: 959,
				level: 4,
				externalID: '8241',
				name: 'Golf Veduta',
				name_l1: 'غولف فيدوتا',
				name_l2: 'Golf Veduta',
				slug: '/dubai/damac-hills/golf-town/golf-veduta',
				slug_l1: '/dubai/damac-hills/golf-town/golf-veduta',
				slug_l2: '/dubai/damac-hills/golf-town/golf-veduta'
			},
			{
				id: 17805,
				level: 5,
				externalID: '13577',
				name: 'Golf Veduta A',
				name_l1: 'غولف فيدوتا A',
				name_l2: 'Golf Veduta A',
				slug: '/dubai/damac-hills/golf-town/golf-veduta/golf-veduta-a',
				slug_l1: '/dubai/damac-hills/golf-town/golf-veduta/golf-veduta-a',
				slug_l2: '/dubai/damac-hills/golf-town/golf-veduta/golf-veduta-a',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1659708846.0,
		updatedAt: 1672973844.0,
		reactivatedAt: 1670476223.283222,
		rooms: 0,
		baths: 1,
		area: 41.3418528,
		score: 100,
		score_l1: 65,
		score_l2: 75,
		coverPhoto: {
			id: 285379475,
			externalID: '128149099',
			title: null,
			orderIndex: 0,
			nimaScore: 9.692653756664782,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/285379475/4cbef66fcd9c4a0a8dfa4255f363bbc1',
			main: true
		},
		photoCount: 16,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971542528882',
			phone: '+971505687952',
			whatsapp: '971545695868',
			proxyMobile: '+971522273320',
			phoneNumbers: ['+971505687952'],
			mobileNumbers: ['+971542528882']
		},
		contactName: 'Think Realty Holiday Homes L. L. C',
		agency: {
			id: 29640188,
			objectID: 29640188,
			name: 'Think Realty Holiday Homes LLC',
			name_l1: 'فكر في ريالتي هوليداي هومز',
			name_l2: 'Think Realty Holiday Homes LLC',
			externalID: '100397',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '1029338',
					authority: 'DED'
				}
			],
			logo: {
				id: 215465291,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/215465291/6ddd6902e95449c6a3982c806b6b034c'
			},
			slug: 'think-realty-holiday-homes-llc-100397',
			slug_l1: 'think-realty-holiday-homes-llc-100397',
			slug_l2: 'think-realty-holiday-homes-llc-100397',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2022-05-20T05:00:23.660295+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: 'dfd9f55',
		keywords: [
			'parking',
			'مؤثثة',
			'مفروش',
			'عوائل',
			'دور',
			'مفروشة',
			'furnished',
			'clean',
			'بلكونة',
			'serviced',
			'floor',
			'نظيف',
			'terrace',
			'family',
			'مصعد',
			'موقف سيارة',
			'elevator',
			'balcony',
			'مخدوم',
			'للعوائل',
			'ترس'
		],
		isVerified: true,
		verification: {
			updatedAt: 1660206310.158958,
			eligible: true,
			status: 'verified',
			verifiedAt: 1671430503.921378
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 792,
		randBoostScore_l1: 792,
		randBoostScore_l2: 487,
		floorPlanID: 34274,
		furnishingStatus: 'furnished',
		extraFields: {
			dldBuildingNK: 'tabu-18049200',
			dldPropertySK: 'dld|mea|ae|tabu+ejari-18049280'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '1852807',
			name: 'THINK REALTY HOLIDAY HOMES L. L. C',
			name_l1: 'THINK REALTY HOLIDAY HOMES L. L. C',
			name_l2: 'THINK REALTY HOLIDAY HOMES L. L. C',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 792,
		indyScore_l1: 792,
		indyScore_l2: 487,
		hasMatchingFloorPlans: true,
		photoIDs: [
			285379475, 321044098, 254733591, 254491862, 314718621, 285379478, 314718624, 297489176,
			264323808, 253830622, 316992440, 253830625, 307413663, 268298826, 297489191, 268298828
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '3506054',
		_highlightResult: {
			referenceNumber: {
				value: '3905-Ap-R-0017',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Golf View | Standard Living | Golf Veduta A',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '6209602',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'Think Realty Holiday Homes LLC',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'parking',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'عوائل',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'دور',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'clean',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'serviced',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'floor',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'نظيف',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'terrace',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'family',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مصعد',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'موقف سيارة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'elevator',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مخدوم',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'للعوائل',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ترس',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 2587434,
		ownerID: 1040765,
		userExternalID: '1040765',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.042657,
			lng: 55.221357
		},
		geography: {
			lat: 25.042657,
			lng: 55.221357
		},
		purpose: 'for-rent',
		price: 7999.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: 'BVH-1BR-NAJ',
		permitNumber: 'DUBNAJD7IRH',
		projectNumber: null,
		title: 'Fully Furnished Spacious 1BR apartment with all bills included',
		title_l1: 'شقة فسيحة مفروشة بالكامل من غرفة نوم واحدة مع جميع الفواتير مشمولة',
		title_l2: 'Fully Furnished Spacious 1BR apartment with all bills included',
		externalID: '5319734',
		slug: 'fully-furnished-spacious-1br-apartment-with-all-bills-included-5319734',
		slug_l1: 'fully-furnished-spacious-1br-apartment-with-all-bills-included-5319734',
		slug_l2: 'fully-furnished-spacious-1br-apartment-with-all-bills-included-5319734',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 67,
				level: 2,
				externalID: '5274',
				name: 'Dubai Sports City',
				name_l1: 'مدينة دبي الرياضية',
				name_l2: 'Dubai Sports City',
				slug: '/dubai/dubai-sports-city',
				slug_l1: '/dubai/dubai-sports-city',
				slug_l2: '/dubai/dubai-sports-city',
				type: 'neighbourhood'
			},
			{
				id: 17004,
				level: 3,
				externalID: '12941',
				name: 'Najma Tower A',
				name_l1: 'برج نجمة A',
				name_l2: 'Najma Tower A',
				slug: '/dubai/dubai-sports-city/najma-tower-a',
				slug_l1: '/dubai/dubai-sports-city/najma-tower-a',
				slug_l2: '/dubai/dubai-sports-city/najma-tower-a',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1628614508.0,
		updatedAt: 1672837124.0,
		reactivatedAt: 1628614508.0,
		rooms: 1,
		baths: 2,
		area: 74.322432,
		score: 100,
		score_l1: 100,
		score_l2: 75,
		coverPhoto: {
			id: 253638852,
			externalID: '125373554',
			title: 'Living Room',
			orderIndex: 0,
			nimaScore: 9.4990172013662,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/253638852/d40a333186e142618a82ef935290bb98',
			main: true
		},
		photoCount: 12,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971528717152',
			phone: '+97142434366',
			whatsapp: '971545695868',
			phoneNumbers: ['+97142434366'],
			mobileNumbers: ['+971528717152']
		},
		contactName: 'Bhavan Vacation Homes LLC',
		agency: {
			id: 29600799,
			objectID: 29600799,
			name: 'Bhavan Vacation Homes L. L. C',
			name_l1: 'بهافن لبيوت العطلت ش. ذ. م. م',
			name_l2: 'Bhavan Vacation Homes L. L. C',
			externalID: '10540',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '949192',
					authority: 'DED'
				},
				{
					number: '0',
					authority: 'ORN'
				}
			],
			logo: {
				id: 106017926,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/106017926/25d52a60bdd04b70b70e90a17690bdcd'
			},
			slug: 'bhavan-vacation-homes-llc-10540',
			slug_l1: 'bhavan-vacation-homes-llc-10540',
			slug_l2: 'bhavan-vacation-homes-llc-10540',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2021-05-30T07:53:31.065032+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: 'fa362e5',
		keywords: [
			'كبيرة',
			'مؤثثة',
			'مفروش',
			'مفروشة',
			'شامل الماء والكهرباء',
			'furnished',
			'شامل',
			'all bills included',
			'parking',
			'شيرنج',
			'shared',
			'lounge',
			'spacious',
			'مشتركة',
			'bills included',
			'صالة',
			'مول',
			'واسعة',
			'موقف سيارة',
			'mall'
		],
		isVerified: true,
		verification: {
			updatedAt: 1655384118.938948,
			eligible: true,
			status: 'verified',
			verifiedAt: 1671432878.508388
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 780,
		randBoostScore_l1: 780,
		randBoostScore_l2: 437,
		floorPlanID: null,
		furnishingStatus: 'furnished',
		extraFields: {},
		type: 'property',
		ownerAgent: {
			externalID: '1040765',
			name: 'Bhavan Vacation Homes LLC',
			name_l1: 'Bhavan Vacation Homes LLC',
			name_l2: 'Bhavan Vacation Homes LLC',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 780,
		indyScore_l1: 780,
		indyScore_l2: 437,
		hasMatchingFloorPlans: false,
		photoIDs: [
			253638852, 250967141, 294733163, 236027241, 236617210, 253638855, 236617214, 270147891,
			236027246, 170954432, 236027247, 236617218
		],
		hidePrice: false,
		locationPurposeTier: 2,
		objectID: '2587434',
		_highlightResult: {
			referenceNumber: {
				value: 'BVH-1BR-NAJ',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Fully Furnished Spacious 1BR apartment with all bills included',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '5319734',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'Bhavan Vacation Homes L. L. C',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'كبيرة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'شامل الماء والكهرباء',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'شامل',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'all bills included',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'parking',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'شيرنج',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'shared',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'lounge',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'spacious',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مشتركة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'bills included',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'صالة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'واسعة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'موقف سيارة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 3201633,
		ownerID: 1912668,
		userExternalID: '1912668',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.067073483869,
			lng: 55.203469325513
		},
		geography: {
			lat: 25.067073483869,
			lng: 55.203469325513
		},
		purpose: 'for-rent',
		price: 9900.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: '2504',
		permitNumber: 'JUMPANIIQG1',
		projectNumber: null,
		title: 'Elegantly Decorated 1 Bedroom Apartment| Brand New | Skyline View',
		title_l1: 'شقة في ابراج بلووم المنطقة 10 قرية جميرا الدائرية 1 غرف 9900 درهم - 5920792',
		title_l2: 'Elegantly Decorated 1 Bedroom Apartment| Brand New | Skyline View',
		externalID: '5920792',
		slug: 'elegantly-decorated-1-bedroom-apartment-brand-new-skyline-view-5920792',
		slug_l1: 'elegantly-decorated-1-bedroom-apartment-brand-new-skyline-view-5920792',
		slug_l2: 'elegantly-decorated-1-bedroom-apartment-brand-new-skyline-view-5920792',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 59,
				level: 2,
				externalID: '5416',
				name: 'Jumeirah Village Circle (JVC)',
				name_l1: 'قرية جميرا الدائرية',
				name_l2: 'Jumeirah Village Circle (JVC)',
				slug: '/dubai/jumeirah-village-circle-jvc',
				slug_l1: '/dubai/jumeirah-village-circle-jvc',
				slug_l2: '/dubai/jumeirah-village-circle-jvc',
				type: 'neighbourhood'
			},
			{
				id: 2478,
				level: 3,
				externalID: '11840',
				name: 'JVC District 10',
				name_l1: 'المنطقة 10',
				name_l2: 'JVC District 10',
				slug: '/dubai/jumeirah-village-circle-jvc/jvc-district-10',
				slug_l1: '/dubai/jumeirah-village-circle-jvc/jvc-district-10',
				slug_l2: '/dubai/jumeirah-village-circle-jvc/jvc-district-10',
				type: 'neighbourhood'
			},
			{
				id: 1547,
				level: 4,
				externalID: '9140',
				name: 'Bloom Towers',
				name_l1: 'ابراج بلووم',
				name_l2: 'Bloom Towers',
				slug: '/dubai/jumeirah-village-circle-jvc/jvc-district-10/bloom-towers',
				slug_l1: '/dubai/jumeirah-village-circle-jvc/jvc-district-10/bloom-towers',
				slug_l2: '/dubai/jumeirah-village-circle-jvc/jvc-district-10/bloom-towers'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1651149236.0,
		updatedAt: 1672983930.0,
		reactivatedAt: 1651149236.0,
		rooms: 1,
		baths: 1,
		area: 73.76501376,
		score: 100,
		score_l1: 65,
		score_l2: 75,
		coverPhoto: {
			id: 236901797,
			externalID: '122405049',
			title: null,
			orderIndex: 0,
			nimaScore: 9.80742459156214,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/236901797/f149fa83441c4eba99b4368d0c4078ce',
			main: true
		},
		photoCount: 29,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971521838437',
			phone: '+97145802357',
			whatsapp: '971545695868',
			proxyMobile: '+971527571157',
			proxyPhone: '+97144298820',
			phoneNumbers: ['+97145802357'],
			mobileNumbers: ['+971521838437']
		},
		contactName: 'Eman Hajji',
		agency: {
			id: 29589916,
			objectID: 29589916,
			name: 'B L V D Holiday Homes Rental L. L. C',
			name_l1: 'بي ال في دي هوليداي هومز رينتال ذ',
			name_l2: 'B L V D Holiday Homes Rental L. L. C',
			externalID: '10204',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '906876',
					authority: 'DED'
				}
			],
			logo: {
				id: 99895298,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/99895298/9fc421847605425f9f3227a49d9db7f9'
			},
			slug: 'b-l-v-d-holiday-homes-rental-llc-10204',
			slug_l1: 'b-l-v-d-holiday-homes-rental-llc-10204',
			slug_l2: 'b-l-v-d-holiday-homes-rental-llc-10204',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2021-01-03T05:56:44.120343+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: '0e32120',
		keywords: [
			'kitchen',
			'جديدة اول ساكن',
			'حديثة',
			'brand new',
			'1 bedroom',
			'ساكن اول',
			'غرفة واحدة',
			'بلكونة',
			'ايجار جديد',
			'جديدة',
			'new',
			'مودرن',
			'modern',
			'مطبخ',
			'balcony',
			'اول ساكن'
		],
		isVerified: true,
		verification: {
			updatedAt: 1659705543.227117,
			eligible: true,
			status: 'verified',
			verifiedAt: 1671687700.595764
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 753,
		randBoostScore_l1: 753,
		randBoostScore_l2: 463,
		floorPlanID: 3518,
		furnishingStatus: 'furnished',
		extraFields: {
			dldBuildingNK: 'tabu-101896089',
			dldPropertySK: 'dld|mea|ae|tabu+ejari-101908957'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '1912668',
			name: 'Eman Hajji',
			name_l1: 'Eman Hajji',
			name_l2: 'Eman Hajji',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 753,
		indyScore_l1: 753,
		indyScore_l2: 463,
		hasMatchingFloorPlans: true,
		photoIDs: [
			236901797, 234800085, 236948583, 237985127, 229835870, 210676664, 236901800, 229835872,
			229835873, 232706396, 229835875, 229835876, 262446867, 240641191, 210676673, 229835879,
			234800091, 236948587, 236948588, 234800094, 229835884, 229835885, 254286621, 229835887,
			234800096, 229835889, 229835890, 229835891, 236901807
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '3201633',
		_highlightResult: {
			referenceNumber: {
				value: '2504',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Elegantly Decorated 1 Bedroom Apartment| Brand New | Skyline View',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '5920792',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'B L V D Holiday Homes Rental L. L. C',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'kitchen',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جديدة اول ساكن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'حديثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'brand new',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '1 bedroom',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ساكن اول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'غرفة واحدة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ايجار جديد',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جديدة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'new',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مودرن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'modern',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطبخ',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'اول ساكن',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 3823005,
		ownerID: 1947617,
		userExternalID: '1947617',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.184354,
			lng: 55.27553
		},
		geography: {
			lat: 25.184354,
			lng: 55.27553
		},
		purpose: 'for-rent',
		price: 10999.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: '11228-tJLB80',
		permitNumber: null,
		projectNumber: null,
		title: 'Eloquent Cozy Studio with Incredible Canal Views',
		title_l1: 'شقة في داماك ميزون بريفيه الخليج التجاري 10999 درهم - 6488704',
		title_l2: 'Eloquent Cozy Studio with Incredible Canal Views',
		externalID: '6488704',
		slug: 'eloquent-cozy-studio-with-incredible-canal-views-6488704',
		slug_l1: 'eloquent-cozy-studio-with-incredible-canal-views-6488704',
		slug_l2: 'eloquent-cozy-studio-with-incredible-canal-views-6488704',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 54,
				level: 2,
				externalID: '5093',
				name: 'Business Bay',
				name_l1: 'الخليج التجاري',
				name_l2: 'Business Bay',
				slug: '/dubai/business-bay',
				slug_l1: '/dubai/business-bay',
				slug_l2: '/dubai/business-bay',
				type: 'neighbourhood'
			},
			{
				id: 2127,
				level: 3,
				externalID: '11433',
				name: 'DAMAC Maison Prive',
				name_l1: 'داماك ميزون بريفيه',
				name_l2: 'DAMAC Maison Prive',
				slug: '/dubai/business-bay/damac-maison-prive',
				slug_l1: '/dubai/business-bay/damac-maison-prive',
				slug_l2: '/dubai/business-bay/damac-maison-prive',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1667303557.0,
		updatedAt: 1672975445.0,
		reactivatedAt: 1667303557.0,
		rooms: 0,
		baths: 1,
		area: 37.161216,
		score: 100,
		score_l1: 65,
		score_l2: 75,
		coverPhoto: {
			id: 294833349,
			externalID: '132942526',
			title: null,
			orderIndex: 0,
			nimaScore: 9.087175918268258,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/294833349/9b9578b534cd4c209e48721ea9a86b0e',
			main: true
		},
		photoCount: 42,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971522088989',
			phone: '+97152487930',
			whatsapp: '971545695868',
			phoneNumbers: ['+97152487930'],
			mobileNumbers: ['+971522088989']
		},
		contactName: 'Ahmed Gamal',
		agency: {
			id: 29627072,
			objectID: 29627072,
			name: 'Monty Holiday Home L. L. C',
			name_l1: 'مونت هوليدي هوم ش. ذ.',
			name_l2: 'Monty Holiday Home L. L. C',
			externalID: '11228',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '943331',
					authority: 'DED'
				}
			],
			logo: {
				id: 181145370,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/181145370/39bfcbe02ce14a458691f8a970069fd0'
			},
			slug: 'monty-holiday-home-llc-11228',
			slug_l1: 'monty-holiday-home-llc-11228',
			slug_l2: 'monty-holiday-home-llc-11228',
			tr: 4,
			tier: 4,
			roles: [],
			active: true,
			createdAt: '2022-01-20T16:14:34.227709+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: '488fdfe',
		keywords: [
			'مؤثثة',
			'airport',
			'مول',
			'حديثة',
			'مفروش',
			'parking',
			'مطبخ',
			'يومي',
			'clean',
			'مطار',
			'kitchen',
			'mall',
			'بلكونة',
			'balcony',
			'furnished',
			'modern',
			'نظيف',
			'اسبوعي',
			'weekly',
			'مفروشة',
			'مودرن',
			'daily',
			'موقف سيارة'
		],
		isVerified: true,
		verification: {
			updatedAt: 1669549011.486405,
			eligible: true,
			status: 'verified',
			verifiedAt: 1670504096.604636
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 717,
		randBoostScore_l1: 717,
		randBoostScore_l2: 441,
		floorPlanID: 39251,
		furnishingStatus: 'furnished',
		extraFields: {
			dldBuildingNK: 'tabu-17780290',
			dldPropertySK: 'dld|mea|ae|tabu+ejari-17780508'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '1947617',
			name: 'Ahmed Gamal',
			name_l1: 'Ahmed Gamal',
			name_l2: 'Ahmed Gamal',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 717,
		indyScore_l1: 717,
		indyScore_l2: 441,
		hasMatchingFloorPlans: true,
		photoIDs: [
			294833349, 297848611, 319287477, 319287480, 312707468, 294845370, 294833355, 297848616,
			319287490, 297848618, 294833359, 307301749, 303333437, 312872166, 294833518, 307301754,
			297848634, 312707494, 297848640, 312707499, 297848646, 294833532, 323510969, 323510970,
			294833538, 294833539, 307301769, 307301771, 303333450, 303333451, 297848678, 294833556,
			294833557, 294833558, 303333455, 303333456, 297848702, 294833562, 303333458, 303333459,
			294833565, 312707536
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '3823005',
		_highlightResult: {
			referenceNumber: {
				value: '11228-tJLB80',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Eloquent Cozy Studio with Incredible Canal Views',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '6488704',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'Monty Holiday Home L. L. C',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'airport',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'حديثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'parking',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطبخ',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'يومي',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'clean',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطار',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'kitchen',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'modern',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'نظيف',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'اسبوعي',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'weekly',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مودرن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'daily',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'موقف سيارة',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 3703933,
		ownerID: 1894831,
		userExternalID: '1894831',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.181891,
			lng: 55.279624
		},
		geography: {
			lat: 25.181891,
			lng: 55.279624
		},
		purpose: 'for-rent',
		price: 11999.0,
		product: 'superhot',
		productLabel: 'default',
		productScore: 0,
		rentFrequency: 'monthly',
		referenceNumber: '1120-Ap-R-1047',
		permitNumber: null,
		projectNumber: null,
		title: 'Fully Furnished | Modern Amenities | View of Water',
		title_l1: 'شقة في فيرفيو ريزيدنسي الخليج التجاري 1 غرف 11999 درهم - 6387522',
		title_l2: 'Fully Furnished | Modern Amenities | View of Water',
		externalID: '6387522',
		slug: 'fully-furnished-modern-amenities-view-of-water-6387522',
		slug_l1: 'fully-furnished-modern-amenities-view-of-water-6387522',
		slug_l2: 'fully-furnished-modern-amenities-view-of-water-6387522',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 54,
				level: 2,
				externalID: '5093',
				name: 'Business Bay',
				name_l1: 'الخليج التجاري',
				name_l2: 'Business Bay',
				slug: '/dubai/business-bay',
				slug_l1: '/dubai/business-bay',
				slug_l2: '/dubai/business-bay',
				type: 'neighbourhood'
			},
			{
				id: 363,
				level: 3,
				externalID: '5745',
				name: 'Fairview Residency',
				name_l1: 'فيرفيو ريزيدنسي',
				name_l2: 'Fairview Residency',
				slug: '/dubai/business-bay/fairview-residency',
				slug_l1: '/dubai/business-bay/fairview-residency',
				slug_l2: '/dubai/business-bay/fairview-residency',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1664629481.0,
		updatedAt: 1672974800.0,
		reactivatedAt: 1664629481.0,
		rooms: 1,
		baths: 2,
		area: 72.37146816,
		score: 100,
		score_l1: 65,
		score_l2: 75,
		coverPhoto: {
			id: 287934760,
			externalID: '131171187',
			title: null,
			orderIndex: 0,
			nimaScore: 9.205904825283142,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/287934760/c9a0f1ca656f49febf1cafcb3efd5d00',
			main: true
		},
		photoCount: 18,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971526451708',
			phone: '+97145572402',
			whatsapp: '971545695868',
			proxyMobile: '+971527289365',
			phoneNumbers: ['+97145572402'],
			mobileNumbers: ['+971526451708']
		},
		contactName: 'Suzan Salmi',
		agency: {
			id: 29536933,
			objectID: 29536933,
			name: 'Like Home Vacation Homes Rental',
			name_l1: 'مثل تأجير منازل العطلات المنزلية',
			name_l2: 'Like Home Vacation Homes Rental',
			externalID: '8933',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '825766',
					authority: 'DED'
				}
			],
			logo: {
				id: 75770747,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/75770747/3bc86bb51d114bdeafe816268fff2c26'
			},
			slug: 'like-home-vacation-homes-rental-8933',
			slug_l1: 'like-home-vacation-homes-rental-8933',
			slug_l2: 'like-home-vacation-homes-rental-8933',
			tr: 1,
			tier: 1,
			roles: [],
			active: true,
			createdAt: '2019-05-26T07:31:53.147487+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: '6d5ac4b',
		keywords: [
			'furnished',
			'جديدة',
			'مول',
			'مطار',
			'مفروشة',
			'حديثة',
			'garden',
			'مؤثثة',
			'mall',
			'حديقة',
			'modern',
			'مودرن',
			'airport',
			'ايجار جديد',
			'new',
			'مفروش',
			'جديدة اول ساكن'
		],
		isVerified: true,
		verification: {
			updatedAt: 1664875220.049252,
			eligible: true,
			status: 'verified',
			verifiedAt: 1671707825.145941
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 717,
		randBoostScore_l1: 717,
		randBoostScore_l2: 441,
		floorPlanID: 328,
		furnishingStatus: null,
		extraFields: {
			dldBuildingNK: 'tabu+ejari-13150032',
			dldPropertySK: 'dld|mea|ae|tabu+ejari-13150368'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '1894831',
			name: 'Suzan Salmi',
			name_l1: 'Suzan Salmi',
			name_l2: 'Suzan Salmi',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 717,
		indyScore_l1: 717,
		indyScore_l2: 441,
		hasMatchingFloorPlans: true,
		photoIDs: [
			287934760, 282267204, 289970683, 283091811, 301419527, 295492121, 278546938, 290666687,
			280605567, 293630858, 290666689, 284310671, 278546945, 294803156, 308148801, 278546950,
			305136147, 290666693
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '3703933',
		_highlightResult: {
			referenceNumber: {
				value: '1120-Ap-R-1047',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Fully Furnished | Modern Amenities | View of Water',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '6387522',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'Like Home Vacation Homes Rental',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جديدة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطار',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'حديثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'garden',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'حديقة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'modern',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مودرن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'airport',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ايجار جديد',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'new',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جديدة اول ساكن',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 2274324,
		ownerID: 713291,
		userExternalID: '713291',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.050708,
			lng: 55.213872
		},
		geography: {
			lat: 25.050708,
			lng: 55.213872
		},
		purpose: 'for-rent',
		price: 8900.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: '420',
		permitNumber: 'JUMPANYMMAI',
		projectNumber: null,
		title: 'Beautiful 2 BR/ Cozy Furniture / kitchen Appliance/Balcony.',
		title_l1: 'غرفتين نوم جميلتين / أثاث مريح / أجهزة مطبخ / بلكونة.',
		title_l2: 'Beautiful 2 BR/ Cozy Furniture / kitchen Appliance/Balcony.',
		externalID: '5000267',
		slug: 'beautiful-2-br-cozy-furniture-kitchen-appliance-balcony-5000267',
		slug_l1: 'beautiful-2-br-cozy-furniture-kitchen-appliance-balcony-5000267',
		slug_l2: 'beautiful-2-br-cozy-furniture-kitchen-appliance-balcony-5000267',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 59,
				level: 2,
				externalID: '5416',
				name: 'Jumeirah Village Circle (JVC)',
				name_l1: 'قرية جميرا الدائرية',
				name_l2: 'Jumeirah Village Circle (JVC)',
				slug: '/dubai/jumeirah-village-circle-jvc',
				slug_l1: '/dubai/jumeirah-village-circle-jvc',
				slug_l2: '/dubai/jumeirah-village-circle-jvc',
				type: 'neighbourhood'
			},
			{
				id: 1935,
				level: 3,
				externalID: '11385',
				name: 'JVC District 13',
				name_l1: 'الضاحية 13',
				name_l2: 'JVC District 13',
				slug: '/dubai/jumeirah-village-circle-jvc/jvc-district-13',
				slug_l1: '/dubai/jumeirah-village-circle-jvc/jvc-district-13',
				slug_l2: '/dubai/jumeirah-village-circle-jvc/jvc-district-13',
				type: 'neighbourhood'
			},
			{
				id: 1967,
				level: 4,
				externalID: '11298',
				name: 'Pantheon Boulevard',
				name_l1: 'بانثيون بوليفارد',
				name_l2: 'Pantheon Boulevard',
				slug: '/dubai/jumeirah-village-circle-jvc/jvc-district-13/pantheon-boulevard',
				slug_l1: '/dubai/jumeirah-village-circle-jvc/jvc-district-13/pantheon-boulevard',
				slug_l2: '/dubai/jumeirah-village-circle-jvc/jvc-district-13/pantheon-boulevard',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1613032287.0,
		updatedAt: 1672990770.0,
		reactivatedAt: 1672823280.062941,
		rooms: 2,
		baths: 2,
		area: 89.46562752000001,
		score: 100,
		score_l1: 100,
		score_l2: 75,
		coverPhoto: {
			id: 170860488,
			externalID: '113773913',
			title: 'Living room TV with watermark',
			orderIndex: 0,
			nimaScore: 9.808655234735511,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/170860488/6726a35793c74085bd25aece7e5abd32',
			main: true
		},
		coverVideo: {
			externalID: 389467,
			title: 'Pantheon Boulevard',
			host: 'youtube',
			url: 'https://www.youtube.com/watch?v=qDLB8b40vfw',
			orderIndex: 0
		},
		photoCount: 18,
		videoCount: 1,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971521838437',
			phone: '+97142779821',
			whatsapp: '971545695868',
			proxyMobile: '+971521303874',
			proxyPhone: '+97144298820',
			phoneNumbers: ['+97142779821'],
			mobileNumbers: ['+971521838437']
		},
		contactName: 'Rami Mrassi',
		agency: {
			id: 29589916,
			objectID: 29589916,
			name: 'B L V D Holiday Homes Rental L. L. C',
			name_l1: 'بي ال في دي هوليداي هومز رينتال ذ',
			name_l2: 'B L V D Holiday Homes Rental L. L. C',
			externalID: '10204',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '906876',
					authority: 'DED'
				}
			],
			logo: {
				id: 99895298,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/99895298/9fc421847605425f9f3227a49d9db7f9'
			},
			slug: 'b-l-v-d-holiday-homes-rental-llc-10204',
			slug_l1: 'b-l-v-d-holiday-homes-rental-llc-10204',
			slug_l2: 'b-l-v-d-holiday-homes-rental-llc-10204',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2021-01-03T05:56:44.120343+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: '917e623',
		keywords: [
			'مول',
			'غرفتين نوم',
			'daily',
			'مطبخ',
			'kitchen',
			'مؤثثة',
			'مفروش',
			'فاخرة',
			'نظيف',
			'غرفتين',
			'اسبوعي',
			'2 bedroom',
			'واسعة',
			'families',
			'mall',
			'guest',
			'balcony',
			'affordable',
			'spacious',
			'weekly',
			'مجلس',
			'مفروشة',
			'بلكونة',
			'airport',
			'furnished',
			'with balcony',
			'كبيرة',
			'عوائل',
			'luxury',
			'clean',
			'يومي',
			'مطار',
			'سعر جيد'
		],
		isVerified: true,
		verification: {
			updatedAt: 1651037118.579374,
			eligible: true,
			status: 'verified',
			verifiedAt: 1672990770.180462
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 713,
		randBoostScore_l1: 713,
		randBoostScore_l2: 425,
		floorPlanID: null,
		furnishingStatus: 'furnished',
		extraFields: {
			dldBuildingNK: 'tabu-104544945',
			dldPropertySK: 'dld|mea|ae|tabu-104559579'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '713291',
			name: 'Rami Mrassi',
			name_l1: 'Rami Mrassi',
			name_l2: 'Rami Mrassi',
			user_image:
				'https://bayut-production.s3.eu-central-1.amazonaws.com/image/234460420/5802969b044d4d7d9c09de1e5f625ae4',
			user_image_id: 234460420,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 713,
		indyScore_l1: 713,
		indyScore_l2: 425,
		hasMatchingFloorPlans: false,
		photoIDs: [
			170860488, 179799820, 170860478, 186680123, 179799822, 188862552, 188307849, 188867312,
			179799825, 183061319, 179799827, 178929279, 183784235, 189831646, 183061327, 179799832,
			179799833, 186680133
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '2274324',
		_highlightResult: {
			referenceNumber: {
				value: '420',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Beautiful 2 BR/ Cozy Furniture / kitchen Appliance/Balcony.',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '5000267',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'B L V D Holiday Homes Rental L. L. C',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'غرفتين نوم',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'daily',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطبخ',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'kitchen',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'فاخرة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'نظيف',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'غرفتين',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'اسبوعي',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '2 bedroom',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'واسعة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'families',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'guest',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'affordable',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'spacious',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'weekly',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مجلس',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'airport',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'with balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'كبيرة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'عوائل',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'luxury',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'clean',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'يومي',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطار',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'سعر جيد',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 3680088,
		ownerID: 1868022,
		userExternalID: '1868022',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.193373,
			lng: 55.265283
		},
		geography: {
			lat: 25.193373,
			lng: 55.265283
		},
		purpose: 'for-rent',
		price: 19999.0,
		product: 'superhot',
		productLabel: 'default',
		productScore: 0,
		rentFrequency: 'monthly',
		referenceNumber: 'DVR - PTR2',
		permitNumber: null,
		projectNumber: null,
		title: 'Brand new Sophisticated 2 Bedroom Paramount Tower residence',
		title_l1: 'شقة في فندق و مساكن بارامونت الخليج التجاري 2 غرف 19999 درهم - 6374334',
		title_l2: 'Brand new Sophisticated 2 Bedroom Paramount Tower residence',
		externalID: '6374334',
		slug: 'brand-new-sophisticated-2-bedroom-paramount-tower-residence-6374334',
		slug_l1: 'brand-new-sophisticated-2-bedroom-paramount-tower-residence-6374334',
		slug_l2: 'brand-new-sophisticated-2-bedroom-paramount-tower-residence-6374334',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 54,
				level: 2,
				externalID: '5093',
				name: 'Business Bay',
				name_l1: 'الخليج التجاري',
				name_l2: 'Business Bay',
				slug: '/dubai/business-bay',
				slug_l1: '/dubai/business-bay',
				slug_l2: '/dubai/business-bay',
				type: 'neighbourhood'
			},
			{
				id: 753,
				level: 3,
				externalID: '8747',
				name: 'Paramount Hotel & Residences',
				name_l1: 'فندق و مساكن بارامونت',
				name_l2: 'Paramount Hotel & Residences',
				slug: '/dubai/business-bay/paramount-towers/paramount-hotel-residences/paramount-hotel-residences',
				slug_l1:
					'/dubai/business-bay/paramount-towers/paramount-hotel-residences/paramount-hotel-residences',
				slug_l2:
					'/dubai/business-bay/paramount-towers/paramount-hotel-residences/paramount-hotel-residences',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1664277830.0,
		updatedAt: 1672910089.0,
		reactivatedAt: 1666950751.974766,
		rooms: 2,
		baths: 3,
		area: 118.82298816,
		score: 100,
		score_l1: 62,
		score_l2: 75,
		coverPhoto: {
			id: 281822026,
			externalID: '130938835',
			title: null,
			orderIndex: 0,
			nimaScore: 9.323581801606451,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/281822026/c2dff5ed7c9948c4a5d237235a41fcbe',
			main: true
		},
		photoCount: 19,
		videoCount: 0,
		panoramaCount: 1,
		phoneNumber: {
			mobile: '+971585936883',
			whatsapp: '971545695868',
			mobileNumbers: ['+971585936883']
		},
		contactName: 'Syed Imran',
		agency: {
			id: 29634263,
			objectID: 29634263,
			name: 'DVR Vacation Homes Rental L. L. C',
			name_l1: 'دي في ار فاكيشن هومز رينتال ذ',
			name_l2: 'DVR Vacation Homes Rental L. L. C',
			externalID: '100187',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '1037871',
					authority: 'DED'
				}
			],
			logo: {
				id: 196469659,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/196469659/dbf70750363d48bab904d9e1e3b98a4f'
			},
			slug: 'dvr-vacation-homes-rental-llc-100187',
			slug_l1: 'dvr-vacation-homes-rental-llc-100187',
			slug_l2: 'dvr-vacation-homes-rental-llc-100187',
			tr: 4,
			tier: 4,
			roles: [],
			active: true,
			createdAt: '2022-03-24T13:42:40.372705+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: '35b3651',
		keywords: [
			'اسبوعي',
			'دور',
			'floor',
			'guest',
			'مفروش',
			'اول ساكن',
			'clean',
			'غرفتين',
			'kitchen',
			'مول',
			'bills included',
			'furnished',
			'شامل',
			'جاهزة',
			'ready',
			'مطبخ',
			'weekly',
			'ساكن اول',
			'مودرن',
			'balcony',
			'ايجار جديد',
			'مؤثثة',
			'نظيف',
			'جديدة اول ساكن',
			'2 غرفة',
			'غرفتين نوم',
			'شامل الماء والكهرباء',
			'new',
			'all bills included',
			'حديثة',
			'جديدة',
			'brand new',
			'modern',
			'2 bedroom',
			'مفروشة',
			'بلكونة',
			'mall',
			'مجلس'
		],
		isVerified: true,
		verification: {
			updatedAt: 1665467506.059238,
			eligible: true,
			status: 'verified',
			verifiedAt: 1672910089.48402
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 708,
		randBoostScore_l1: 708,
		randBoostScore_l2: 405,
		floorPlanID: null,
		furnishingStatus: 'furnished',
		extraFields: {},
		type: 'property',
		ownerAgent: {
			externalID: '1868022',
			name: 'Syed Imran',
			name_l1: 'Syed Imran',
			name_l2: 'Syed Imran',
			user_image: null,
			user_image_id: null,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 708,
		indyScore_l1: 708,
		indyScore_l2: 405,
		hasMatchingFloorPlans: false,
		photoIDs: [
			281822026, 281822028, 279471927, 309219580, 302667027, 282807952, 282809085, 287849421,
			282578359, 282807960, 282578357, 282809083, 282578365, 302690127, 276228236, 292993140,
			282578363, 276228219, 282578358
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '3680088',
		_highlightResult: {
			referenceNumber: {
				value: 'DVR - PTR2',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Brand new Sophisticated 2 Bedroom Paramount Tower residence',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '6374334',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'DVR Vacation Homes Rental L. L. C',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'اسبوعي',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'دور',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'floor',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'guest',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'اول ساكن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'clean',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'غرفتين',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'kitchen',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'bills included',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'شامل',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جاهزة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ready',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطبخ',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'weekly',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ساكن اول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مودرن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'ايجار جديد',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'نظيف',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جديدة اول ساكن',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '2 غرفة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'غرفتين نوم',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'شامل الماء والكهرباء',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'new',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'all bills included',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'حديثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'جديدة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'brand new',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'modern',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '2 bedroom',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مجلس',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	},
	{
		id: 3828165,
		ownerID: 918494,
		userExternalID: '918494',
		sourceID: 1,
		state: 'active',
		_geoloc: {
			lat: 25.088199615479,
			lng: 55.14640045166
		},
		geography: {
			lat: 25.088199615479,
			lng: 55.14640045166
		},
		purpose: 'for-rent',
		price: 25999.0,
		product: 'hot',
		productLabel: 'default',
		productScore: 1,
		rentFrequency: 'monthly',
		referenceNumber: 'B-HH-M-AR-71695',
		permitNumber: null,
		projectNumber: null,
		title: 'Huge 3 BR | Marina View | Fully Furnished',
		title_l1: 'شقة في إميرتس كراون دبي مارينا 3 غرف 25999 درهم - 6495851',
		title_l2: 'Huge 3 BR | Marina View | Fully Furnished',
		externalID: '6495851',
		slug: 'huge-3-br-marina-view-fully-furnished-6495851',
		slug_l1: 'huge-3-br-marina-view-fully-furnished-6495851',
		slug_l2: 'huge-3-br-marina-view-fully-furnished-6495851',
		location: [
			{
				id: 1,
				level: 0,
				externalID: '5001',
				name: 'UAE',
				name_l1: 'الإمارات',
				name_l2: 'UAE',
				slug: '/uae',
				slug_l1: '/uae',
				slug_l2: '/uae'
			},
			{
				id: 2,
				level: 1,
				externalID: '5002',
				name: 'Dubai',
				name_l1: 'دبي',
				name_l2: 'Dubai',
				slug: '/dubai',
				slug_l1: '/dubai',
				slug_l2: '/dubai'
			},
			{
				id: 36,
				level: 2,
				externalID: '5003',
				name: 'Dubai Marina',
				name_l1: 'دبي مارينا',
				name_l2: 'Dubai Marina',
				slug: '/dubai/dubai-marina',
				slug_l1: '/dubai/dubai-marina',
				slug_l2: '/dubai/dubai-marina',
				type: 'neighbourhood'
			},
			{
				id: 633,
				level: 3,
				externalID: '5819',
				name: 'Emirates Crown',
				name_l1: 'إميرتس كراون',
				name_l2: 'Emirates Crown',
				slug: '/dubai/dubai-marina/emirates-crown',
				slug_l1: '/dubai/dubai-marina/emirates-crown',
				slug_l2: '/dubai/dubai-marina/emirates-crown',
				type: 'condo-building'
			}
		],
		category: [
			{
				id: 1,
				level: 0,
				externalID: '1',
				name: 'Residential',
				name_l1: 'سكني',
				name_l2: 'Residential',
				slug: 'residential',
				slug_l1: 'residential',
				slug_l2: 'residential',
				nameSingular: 'Residential',
				nameSingular_l1: 'سكني',
				nameSingular_l2: 'Residential'
			},
			{
				id: 2,
				level: 1,
				externalID: '4',
				name: 'Apartments',
				name_l1: 'شقق',
				name_l2: 'Apartments',
				slug: 'apartments',
				slug_l1: 'apartments',
				slug_l2: 'apartments',
				nameSingular: 'Apartment',
				nameSingular_l1: 'شقة',
				nameSingular_l2: 'Apartment'
			}
		],
		createdAt: 1667400067.0,
		updatedAt: 1672975758.0,
		reactivatedAt: 1671100914.420984,
		rooms: 3,
		baths: 3,
		area: 360.55669824,
		score: 100,
		score_l1: 62,
		score_l2: 75,
		coverPhoto: {
			id: 295430665,
			externalID: '133046841',
			title: null,
			orderIndex: 0,
			nimaScore: 9.724216983002743,
			url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/295430665/d849f4f7b4f34d94a770b071120dfdc2',
			main: true
		},
		photoCount: 52,
		videoCount: 0,
		panoramaCount: 0,
		phoneNumber: {
			mobile: '+971524535700',
			phone: '+97143691780',
			whatsapp: '971524535700',
			proxyMobile: '+971529515717',
			proxyPhone: '+97148723048',
			phoneNumbers: ['+97143691780'],
			mobileNumbers: ['+971524535700']
		},
		contactName: 'Mona Abdelaziz',
		agency: {
			id: 29526983,
			objectID: 29526983,
			name: 'Fäm Living',
			name_l1: 'فام ليفينج',
			name_l2: 'Fäm Living',
			externalID: '8545',
			product: 'premium',
			productScore: 2,
			licenses: [
				{
					number: '678089',
					authority: 'DED'
				}
			],
			logo: {
				id: 37082548,
				url: 'https://bayut-production.s3.eu-central-1.amazonaws.com/image/37082548/e7a7add5fd2b439086782eedc4e60f54'
			},
			slug: 'fam-living-8545',
			slug_l1: 'fam-living-8545',
			slug_l2: 'fam-living-8545',
			tr: 3,
			tier: 3,
			roles: [],
			active: true,
			createdAt: '2018-11-19T10:46:04.788511+00:00',
			commercialNumber: null,
			shortNumber: null
		},
		hash: '88b4a2a',
		keywords: [
			'shared',
			'furnished',
			'parking',
			'واسعة',
			'balcony',
			'تدفئة',
			'مفروش',
			'مطبخ',
			'heating',
			'مؤثثة',
			'elevator',
			'شيرنج',
			'spacious',
			'مشتركة',
			'كبيرة',
			'موقف سيارة',
			'mall',
			'مصعد',
			'3 غرف',
			'مفروشة',
			'مول',
			'3 bedroom',
			'بلكونة',
			'kitchen'
		],
		isVerified: true,
		verification: {
			updatedAt: 1669014413.711631,
			eligible: true,
			status: 'verified',
			verifiedAt: 1671098367.340816
		},
		verifiedScore: 0,
		completionStatus: 'completed',
		randBoostScore: 692,
		randBoostScore_l1: 692,
		randBoostScore_l2: 413,
		floorPlanID: null,
		furnishingStatus: null,
		extraFields: {
			dldBuildingNK: 'tabu+ejari-149396',
			dldPropertySK: 'dld|mea|ae|tabu+ejari-232652'
		},
		type: 'property',
		hasTransactionHistory: true,
		ownerAgent: {
			externalID: '918494',
			name: 'Mona Abdelaziz',
			name_l1: 'Mona Abdelaziz',
			name_l2: 'Mona Abdelaziz',
			user_image:
				'https://bayut-production.s3.eu-central-1.amazonaws.com/image/172558421/6f26d46e27b14fcf98bd0bf8bacdf381',
			user_image_id: 172558421,
			isTruBroker: false
		},
		cityLevelScore: 1,
		indyScore: 692,
		indyScore_l1: 692,
		indyScore_l2: 413,
		hasMatchingFloorPlans: false,
		photoIDs: [
			295430665, 295430672, 295430676, 295430683, 295430690, 295430698, 295430705, 295430713,
			295430719, 295430726, 295430731, 295430734, 295430738, 295430742, 295430745, 295430749,
			295430752, 295430756, 295430759, 295430762, 295430766, 295430770, 295430773, 295430776,
			295430779, 295430782, 295430785, 295430787, 295430790, 295430792, 295430793, 295430795,
			295430797, 295430799, 295430801, 295430803, 295430804, 295430807, 295430809, 295430810,
			295430813, 295430815, 295430816, 295430818, 295430819, 295430820, 295430822, 295430824,
			295430826, 295430828, 295430829, 295430830
		],
		hidePrice: false,
		locationPurposeTier: 1,
		objectID: '3828165',
		_highlightResult: {
			referenceNumber: {
				value: 'B-HH-M-AR-71695',
				matchLevel: 'none',
				matchedWords: []
			},
			title: {
				value: 'Huge 3 BR | Marina View | Fully Furnished',
				matchLevel: 'none',
				matchedWords: []
			},
			externalID: {
				value: '6495851',
				matchLevel: 'none',
				matchedWords: []
			},
			agency: {
				name: {
					value: 'Fäm Living',
					matchLevel: 'none',
					matchedWords: []
				}
			},
			keywords: [
				{
					value: 'shared',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'furnished',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'parking',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'واسعة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'balcony',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'تدفئة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروش',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مطبخ',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'heating',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مؤثثة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'elevator',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'شيرنج',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'spacious',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مشتركة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'كبيرة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'موقف سيارة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'mall',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مصعد',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '3 غرف',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مفروشة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'مول',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: '3 bedroom',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'بلكونة',
					matchLevel: 'none',
					matchedWords: []
				},
				{
					value: 'kitchen',
					matchLevel: 'none',
					matchedWords: []
				}
			]
		}
	}
]
---

<section class='flex justify-center gap-5 flex-wrap p-5 my-8'>
	{
		data.map((item) => {
			return (
				<EstateCard
					id={item.externalID}
					rooms={item.rooms}
					baths={item.baths}
					img={item.coverPhoto.url}
					alt={item.coverPhoto.title}
					title={item.title}
					price={item.price}
					rentFrequency={item.rentFrequency}
					Verified={item.isVerified}
					area={item.area}
					agency={item.agency.logo.url}
					agencyName={item.agency.name}
				/>
			)
		})
	}
</section>
