---
import EstateCard from './EstateCard.astro'
const { data } = Astro.props
const lightData = data.slice(0, 5)
---

<section class='flex justify-center gap-5 flex-wrap p-5 my-8'>
	{
		lightData.map((item) => {
			return (
				<EstateCard
					id={item.externalID}
					rooms={item.rooms}
					baths={item.baths}
					img={item.coverPhoto.url}
					alt={item.coverPhoto.title}
					title={item.title}
					price={item.price}
					rentFrequency={item.rentFrequency}
					Verified={item.isVerified}
					area={item.area}
					agency={item.agency.logo.url}
					agencyName={item.agency.name}
				/>
			)
		})
	}
</section>
