---
import { Picture } from '@astrojs/image/components'
const { title, subTitle, desc, image, btn } = Astro.props
---

<section class='flex justify-center items-center gap-5'>
	<div>
		<Picture
			class='w-[500px] h-[300px]'
			src={image}
			widths={[200, 500, 800]}
			aspectRatio='4:3'
			sizes='(max-width: 800px) 100vw, 800px'
			alt={subTitle}
		/>
	</div>
	<div>
		<span class='text-gray-400 font-semibold'>{subTitle}</span>
		<h2 class='text-3xl font-bold my-4 w-9/12'>{title}</h2>
		<p class='font-semibold text-gray-900 w-9/12'>
			{desc}
		</p>
		<a
			class='bg-sky-500 text-white p-3 block w-4/6 my-6 rounded-md font-bold text-center hover:bg-gray-400 transition-colors'
			href='/'>{btn}</a
		>
	</div>
</section>
